@model AptekaInternetowa.Models.ViewModels.SzczegolyVM

<div class="container" style="padding: 15px">
    @if(Model.Alert != null)
    {
        <div class="row alert alert-primary">
            <h5>@Model.Alert</h5>
        </div>
    }
    <div class="row">
        <div class="col-4">
            <img src="~/images/@Model.Produkt.ZdjecieUrl" alt="" />
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    <h4>@Model.Produkt.Nazwa</h4>
                </div>
                <div class="col-4">
                    <p>Producent: @Model.Produkt.Producent</p>
                </div>
            </div>

            <p><h6>Cena za sztukę:</h6> @Model.Produkt.Cena</p>

            <div class="col-5">
                <div class="row">
                    <div class="col-5">
                        <form asp-controller="ZamowienieElement" asp-action="Add" method="post" role="form">
                            @Html.HiddenFor(x => x.Ilosc)
                            @Html.HiddenFor(x => x.Produkt.Id)

                            <input type="submit" class="btn btn-primary" value="Dodaj" />
                        </form>
                    </div>

                    <div class="col-7">
                        <button type="button" class="btn btn-secondary" onclick="updatePlus()">+</button>
                        <input style="border: 3px solid black; border-radius: 8px; width: 40px;" type="tel" value=@Model.Ilosc id="show">
                        <button type="button" class="btn btn-secondary" onclick="updateMinus()">-</button>
                    </div>
                </div>
            </div>


            <p><h6>Działanie:</h6> @Model.Produkt.Dzialanie</p>
            <p><h6>Wskazania:</h6> @Model.Produkt.Wskazania</p>
        </div>
    </div>

    <p><h5>Dawkowanie:</h5> @Model.Produkt.Dawkowanie</p>
    <p><h5>Skład:</h5> @Model.Produkt.Sklad</p>
    <p><h5>Przeciwwskazania:</h5> @Model.Produkt.Przeciwwskazania</p>
    <p><h5>Dodatkowe informacje:</h5> @Model.Produkt.DodatkoweInformacje</p>

</div>