@model AptekaInternetowa.Models.ViewModels.BasketVM

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
            <th scope="col">Ilość</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @{ int i = 1; }
        @foreach (var item in Model.Zamowienie.ElementyZamowienia)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@item.Produkt.Nazwa</td>
                <td>@item.Produkt.Cena</td>
                <td>@item.Ilosc</td>
                @{ i++; }
                <td>
                    <a class="btn btn-light" asp-action="Plus" asp-controller="ZamowienieElement" asp-route-zamowienieElementId="@item.Id">
                        <span class="fa fa-plus"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Minus" asp-controller="ZamowienieElement" asp-route-zamowienieElementId="@item.Id">
                        <span class="fa fa-minus"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Remove" asp-controller="ZamowienieElement" asp-route-zamowienieElementId="@item.Id">
                        <span class="fa fa-trash-alt"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row justify-content-end">
    <div class="col-1"><b>Suma: </b></div>
    <div class="col-1"><b>@Model.Zamowienie.Wartosc zł</b></div>
    <div class="col-1"><b><a role="button" class="btn btn-success" asp-action="Order" asp-controller="Zamowienie" asp-route-id="@Model.Zamowienie.Id">Zamawiam</a></b></div>
    <div class="col-1"></div>
</div>

