@model AptekaInternetowa.Models.ViewModels.GlobalVM

<h2>
    Jeśli posiadasz już konto,
    <a asp-action="Login" asp-controller="Account">zaloguj się!</a>"
</h2>

<form asp-action="Register" asp-controller="Account" method="post" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <div class="row">
            <label asp-for="@Model.RegisterVM.UserName" class="col-2 col-form-label"></label>
            <div class="col-8">
                <input asp-for="@Model.RegisterVM.UserName" class="form-control" required/>
            </div>
        </div>
        @*<span asp-validation-for="@Model.RegisterVM.UserName" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <div class="row">
            <label asp-for="@Model.RegisterVM.Password" class="col-2 col-form-label"></label>
            <div class="col-8">
                <input asp-for="@Model.RegisterVM.Password" class="form-control" required/>
            </div>
        </div>
        @*<span asp-validation-for="@Model.RegisterVM.Password" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <div class="row">
            <label asp-for="@Model.RegisterVM.ComparePassword" class="col-2 col-form-label"></label>
            <div class="col-8">
                <input asp-for="@Model.RegisterVM.ComparePassword" class="form-control" required/>
            </div>
        </div>
        @*<span asp-validation-for="@Model.RegisterVM.ComparePassword" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Rejestracja" />
    </div>

</form>